body {
	font-family: "Roboto", "Arial", sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	width: 1440px;
	margin: 0 auto;
}

.main-header {
	padding-top: 40px;
	padding-right: 140px;
	margin-bottom: 80px;
	padding-left: 140px;
	background-color: #eeeeee;
}

.main-navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
}

.navigation-site, .navigation-user {
	list-style: none;
	display: flex;
	margin: 0;
	margin-top: 25px;
	padding: 0;
}

.navigation-site li {
	margin-left: 21px;
	margin-right: 21px;
}

.underline {
	color: #000000;
	line-height: 30px;
	text-decoration: none;
}

.sliders {
	position: relative;
}

.sliders-controls {
	font-size: 0;
	position: absolute;
	left: 50%;
	z-index: 100;
}

.sliders-controls label {
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 18px;
	height: 18px;
	padding: 8px;
	top: 306px;
}

.sliders-controls label::after {
	content: "";
	width: 18px;
	height: 18px;
	background: #ffffff;
	border-radius: 50%;
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;
}

.visually-hidden {
	display: none;
}

#product-1:checked ~ .sliders .sliders-hidden:nth-child(1) {
	display: block;
}

#product-2:checked ~ .sliders .sliders-hidden:nth-child(2) {
	display: block;
}

#product-3:checked ~ .sliders .sliders-hidden:nth-child(3) {
	display: block;
}

#product-1:checked ~ .sliders-controls .sliders-controls-item-1::before,
#product-2:checked ~ .sliders-controls .sliders-controls-item-2::before,
#product-3:checked ~ .sliders-controls .sliders-controls-item-3::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 4px;
	height: 4px;
	margin: -4px;
	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.sliders-hidden {
	display: none;
	padding: 78px 0 78px 0;
}

.sliders-hidden:nth-child(1) {
	background-image: url(../img/slide-1.png);
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.sliders-hidden:nth-child(2) {
	background-image: url(../img/slide-2.png);
	background-repeat: no-repeat;
	background-position: 93% 6px;
}

.sliders-hidden:nth-child(3) {
	background-image: url(../img/slide-3.png);
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

.sliders-slogan {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	margin-bottom: 25px;
	position: relative;
	width: 523px;
}

.sliders-info {
	font-size: 16px;
	line-height: 24px;
	width: 380px;
	margin-bottom: 40px;
}

.btn {
	display: block;
	text-align: center;
	text-decoration: none;
	background-color: #fb565a;
	border-radius: 3px;
	padding: 10px 0;
}

.btn-header {
	color: #ffffff;
	width: 240px;
}

.btn:hover, .btn:focus {
	background-color: #e74246;
}

.btn:active {
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
}

.container-main {
	padding-left: 140px;
	padding-right: 140px;
	display: flex;
	justify-content: space-between;
}

.advantages {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

.advantages-block {
	width: 300px;
}

.advantages-block h2 {
	margin-top: 25px;
	margin-bottom: 25px;
}

.advantages-block span {
	line-height: 24px;
	color: #283136;
}

.btn-red {
  color: #ffffff;
  width: 160px;
  padding: 15px 0;
  margin-top: 35px;
}

.btn-green {
	background-color: #00ca74;
	color: #ffffff;
	width: 160px;
	padding: 15px 0;
	margin-top: 35px;
}

.btn-green:hover, .btn-green:focus {
	background-color: #00bc6c;
}

.btn-green:active {
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
}

.btn-yellow {
	background-color: #efc84a;
	color: #ffffff;
	width: 160px;
	padding: 15px 0;
	margin-top: 35px;
}

.btn-yellow:hover, .btn-yellow:focus {
	background-color: #eab534;
}

.btn-yellow:active {
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
}

.feature-studio {
	border-top: 2px solid #c1c1c1;
	display: flex;
	justify-content: space-between;
	margin-bottom: 75px;
}

.description-studio h3 {
	margin-top: 80px;
  margin-bottom: 35px;
  font-size: 45px;
}

.description-studio {
	width: 58%;
}

.description-studio span {
  font-size: 16px;
  line-height: 24px;
}

.possible-development {
	margin-top: 45px;
}

.possible-development span {
	font-weight: bold;
}

.possible-development ul {
	list-style: none;
	padding: 0;
}

.possible-development li {
	padding-top: 10px;
	padding-bottom: 15px;
	margin: 0;
}

.possible-development li::before {
	content: "";
  border-left: 2px solid #fb565a; 
  margin-left: 10px;
  padding-left: 10px;
}

.accountability-studio {
	margin-top: 40px;
}

.opening-date {
  margin-top: 69px;
  margin-bottom: 33px;
	font-weight: bold;
}

.accountability-flex {
	display: flex;
	justify-content: space-between;
}

.percent {
	font-size: 45px;
}

.accountability-percent {
	width: 120px;
}

.percent::after {
  content: "%";
  font-size: 30px;
  font-weight: 500;
  position: absolute;
}

.projects {
	border-top: 2px solid #c1c1c1;
	border-bottom: 2px solid #c1c1c1;
	margin-bottom: 80px;
	display: flex;
	justify-content: space-between;
}

.projects img {
	opacity: 0.2;
}

.projects-decor {
	margin-top: 60px;
	margin-left: 28px;
	margin-right: 20px;
	position: relative;
} 

.project-decor {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 28px;
	margin-right: 20px;
} 

.projects-decor::before {
	content: "";
	border-right: 1px solid #c1c1c1;
	margin-left: 253px;
	margin-top: 4px;
	height: 52px;
	position: absolute;
}

.projects-decor-senter img {
	margin-top: -15px;
}

.projects-decor img:hover, .projects-decor img:focus,  .project-decor img:hover, .project-decor img:focus {
	opacity: 1;
}

.projects-decor img:active, .project-decor img:active {
	opacity: 0.1;
}

.map {
	justify-content: flex-end;
	align-items: center;
	background-image: url(../img/map.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	color: #323232;
	height: 427px;
	position: relative;
}

.map-marker {
	position: absolute;
	top: 84px;
	left: 832px;
}

.map-form {
	background-color: #ffffff;
	height: 305px;
	position: absolute;
	z-index: 4;
	top: 54px;
	left: 140px;
}

.map-information span {
	margin-top: 50px;
}

.company-name {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 70px;
	margin-bottom: 0;
}

.company-adress {
	margin-top: 0;
	margin-left: 50px;
	margin-right: 70px;
	margin-bottom: 0;
}

.company-telephone {
	margin-top: 0;
	margin-left: 50px;
	margin-right: 70px;
}

.btn-map {
	color: #ffffff;
	width: 160px;
	padding: 15px 0;
	margin-left: 50px;
}

.social {
	display: flex;
	justify-content: space-between;
	margin-left: 140px;
	margin-top: 70px;
	margin-right: 140px;
	margin-bottom: 70px;
}

.social-networks div{
	display: inline-block;
	position: relative;
	width: 79px;
	height: 79px;
	border-radius: 50%;
	background-color: #c1c1c1;
	margin-right: 12px;
}

.social-networks a {
	position: absolute;
	top: 28px;
	left: 30px;
}

.slogan {
	margin-right: 220px;
}

.slogan p:nth-child(1) {
	line-height: 36px;
	font-size: 36px;
	font-weight: bold;
	margin: 0;
}

.slogan p:last-child {
	line-height: 22px;
	color: #444444;
	margin: 0;
	margin-top: -9px;
}

.social-networks div:hover, .social-networks div:focus {
	background-color: #e74246;
}

.social-networks div:active {
	background-color: #d7373b;
	color: rgb(255, 255, 255, 0.3);
}

.main-catalog {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 116px;
}

.filters-cost {
	margin: 0;
	padding: 0;
	border: none;
}

.filters-cost legend, .filters-grid legend, .filters-feature legend, .filters-cort-form legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
}

.filters-range {
	width: 260px;
	margin-top: 49px;
}

.filters-range-controls {
	height: 41px;
	background-color: #f1f1f1;
	border-radius: 5px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	position: relative;
}

.filters-range-controls .filters-scale {
	height: 2px;
	background: #d7dcde;
}

.filters-range-controls .filters-bar {
	width: 70%;
	height: 2px;
	background: #00ca74;
}

.filters-range-controls .range-toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.filters-range-controls .range-toggle-min {
	left: 18px;
}

.filters-range-controls .range-toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	width: 50%;
	font-size: 16px;
	text-transform: uppercase;
}

.price-controls input {
	width: 60px;
	padding: 11px 10px;
	margin-left: 10px;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	background: #f1f1f1;
}

.max-price {
	text-align: right;
}

.filters-grid {
	border: none;
	margin-top: 60px;
	margin-left: 0;
	padding: 0;
}

.filters-grid-list, .filters-feature-list {
	margin-top: 20px;
}

.filters-grid-list ul {
	list-style: none;
	padding: 0;
}

.filters-grid-list li {
	margin-left: 27px;
	padding: 12px;
	position: relative;
}

.grid-list input {
	display: none;
}

.grid-list label {
	line-height: 20px;
}

.filters-radio+label::after {
	content: "";
	position: absolute;
	border: 3px solid #a6a6a6;
	border-radius: 50%;
	height: 22px;
	left: -28px;
	top: 6px;
	width: 22px;
}

.filters-radio:checked+label::before {
	content: "";
	position: absolute;
	background-color: #a6a6a6;
	border-radius: 50%;
	height: 10px;
	left: -19px;
	top: 15px;
	width: 10px;
}

.filters-feature {
	border: none;
	padding: 0;
	margin: 0;
	margin-top: 25px;
}

.filters-feature-list ul {
	list-style: none;
	padding: 0;
}

.feature-list {
	padding: 12px;
	position: relative;
	margin-left: 27px;
}

.feature-list input {
	display: none;
}

.filters-checkbox+label::after {
	content: "";
	width: 23px;
	height: 23px;
	border: 3px solid #a6a6a6;
	color: #ffffff;
	text-align: center;
	left: -28px;
	top: 6px;
	position: absolute;
}

.filters-checkbox:checked+label::before {
	content: "\2713";
	color: #a6a6a6;
	left: -20px;
	font-size: 30px;
	top: -4px;
	position: absolute;
}

.filters-radio:checked+label:hover::after,
.filters-radio+label:hover::after {
	content: "";
	border: 3px solid #4d4d4d;
}

.filters-radio:checked+label:hover::before {
	content: "";
	background-color: black;
}

.filters-checkbox:checked+label:hover::after,
.filters-checkbox+label:hover::after {
	content: "";
	border: 3px solid #4d4d4d;
}

.filters-checkbox:checked+label:hover::before {
	content: "\2713";
	color: #4d4d4d;
}

.btn-filters {
	background-color: #eeeeee;
	border: 0;
	padding: 16px 86px;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.btn-filters:hover, .btn-filters:focus {
	background-color: #dfdfdf;
}

.btn-filters:active {
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
}

.page-catalog form {
	display: flex;
	justify-content: space-between;
}

.filters-cort-form div {
	list-style: none;
    display: flex;
    margin: 0;
    margin-top: 3px;
    padding: 0;
}

.page-catalog {
	margin-left: 140px;
}

.catalog-card {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hidden-block {
	display: none;
}

.catalog-image {
	margin-bottom: 71px;
	position: relative;
}

.filters-cort {
	margin-bottom: 88px;
}

.catalog-image::before {
	content: "";
    background-image: url(../img/browser.png);
    opacity: 0.12;
    width: 360px;
    height: 40px;
    position: absolute;
    top: -39px;
}

.catalog-image:hover .hidden-block {
	display: block;
	background-image: url(../img/browser.png);
    opacity: 1;
    width: 360px;
    height: 40px;
    position: absolute;
    top: -39px;
}

.catalog-image:hover .hidden-block-hover {
    position: absolute;
    width: 360px;
    background-color: #dfdfdf;
    bottom: -574px;
}

.hidden-block-hover h3{
	text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
}

.hidden-block-hover p {
	text-align: center;
}

.btn-hidden {
	margin-left: 80px;
    margin-bottom: 43px;
    padding: 16px 20px;
    border: none;
}

.btn-hidden:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
    color: rgba(255, 255, 255, 1); 
}

.filters-cort-form .sort-list {
	padding-right: 25px;
}

.sort-list {
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.filters-sort div:nth-child(1) {
	color: #000000;
}

.filters-sort div:hover, .filters-sort:focus {
	color: rgba(0, 0, 0, 0.6);
}

.filters-sort div:active {
	color: #000000;
}

.sort-list-bottom::after {
	content: "";
	background-image: url(../img/icon-down-dir-2.svg);
	background-repeat: no-repeat;
	position: absolute;
	width: 11px;
	height: 11px;
}

.sort-list-top::after {
	content: "";
	background-image: url(../img/icon-up-dir.svg);
	background-repeat: no-repeat;
	position: absolute;
	width: 11px;
	height: 11px;
}

.filters-cort-form .sort-list-bottom, .filters-cort-form .sort-list-top  {
	margin-top: 5px;
}

.sort-list-bottom:hover::after, .sort-list-top:hover::after {
	content: "";
	opacity: 0.5;
}

.paginations {
	display: flex;
	margin-bottom: 90px;
}

.first-page {
    position: relative;
    padding: 22px;
    margin-right: 10px;
}

.first-page::before {
    content: "";
    border: 3px solid #dbdbdb;
    width: 44px;
    height: 50px;
    position: absolute;
    top: 4px;
    left: 0px;
}

.paginations-numbers::before {
    content: "";
    background-color: #eeeeee;
    position: absolute;
    width: 50px;
    height: 56px;
    top: 4px;
    left: 0px;
}

.containers-main {
	padding-left: 140px;
    padding-right: 140px;
}

.paginations-numbers {
	position: relative;
    padding: 22px;
    margin-right: 10px;
    z-index: 1;
}

.paginations-numbers a {
	position: relative;
	z-index: 100;
}

.btn-paginations {
	margin-top: 4px;
    padding: 19px 75px;
}

.paginations a {
	color: #000000;
	text-decoration: none;
	z-index: 1000;
    position: relative;
}

.first-page:hover::before, .paginations-numbers:hover::before,
.first-page:focus::before, .paginations-numbers:focus::before {
	background-color: #dfdfdf;
}

.paginations-numbers:active::before {
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  	background-color: #d5d5d5;
}

.first-page:active::before {
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
    border: none;
    width: 50px;
    height: 56px;
}

.main-logo img:hover, .main-logo img:focus {
	opacity: 0.8;
}

.main-logo img:active {
	opacity: 0.3;
}

.navigation-site a:hover, .navigation-site a:focus,
.navigation-user a:hover, .navigation-user a:focus {
	color: #fb565a;
}

.navigation-site a:active, .navigation-user a:active {
	color: rgba(0, 0, 0, 0.3);
}

.underline-active {
	color: #000000;
    border-bottom: 2px solid red;
    display: block;
}

.navigation-site .underline-active:hover, .navigation-user .underline-active:hover {
	color: #000000;
}

.navigation-login {
	position: relative;
}

.navigation-login::before {
    content: "";
    background-image: url(../img/cart-icon.svg);
    width: 15px;
    height: 15px;
    position: absolute;
    left: -32px;
    top: 6px;
}

.navigation-login-active a::before {
    content: "";
    border-bottom: 2px solid red;
    position: absolute;
    width: 35px;
    top: 30px;
    left: -34px;
}

.modal h3 {
	margin-top: 73px;
    margin-left: 100px;
    margin-bottom: 45px;
    font-size: 45px;
    line-height: 45px;
}

.login-form {
	margin-right: 100px;
	margin-left: 100px;
}

.hidden-top {
	font-weight: bold;
}

.form-control {
	border: 2px solid #000000;
    width: 267px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 16px;
}

.modal {
    display: none;
    box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
    background-color: #f8f7f4;
    box-sizing: border-box;
    width: 960px;
    height: 590px;
    top: 39%;
    left: 19%;
    position: fixed;
    z-index: 1000;
}

.modal-show {
	display: block;
}